// Hoves
@font-face
  font-family: 'TT Hoves'
  src: url('~@/assets/fonts/hoves/TTHoves-Light.woff2') format('woff2'),url('~@/assets/fonts/hoves/TTHoves-Light.woff') format('woff')
  font-style: normal
  font-weight: 300
  font-display: swap

// @font-face
//   font-family: 'TT Hoves'
//   src: url('~@/assets/fonts/hoves/TTHoves-Medium.woff2') format('woff2'),url('~@/assets/fonts/hoves/TTHoves-Medium.woff') format('woff')
//   font-style: normal
//   font-weight: 500
//   font-display: swap
